#include <windows.h>
#include "client1_lib.h"
IDD_HOSTTEST DIALOG DISCARDABLE 0, 0, 400, 400
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |
WS_SYSMENU
CAPTION "Client1"
FONT 8, "MS Sans Serif"
BEGIN
 PUSHBUTTON "Cancel",IDCANCEL,55,380,50,15
 PUSHBUTTON "Send",IDC_BTN1,7,380,43,15
 EDITTEXT IDC_EDIT_INPUT,7,357,300,18,ES_AUTOHSCROLL
 EDITTEXT IDC_EDIT_OUTPUT1,68,7,200,100,ES_AUTOHSCROLL
 EDITTEXT IDC_EDIT_OUTPUT2,68,112,200,100,ES_AUTOHSCROLL
 EDITTEXT IDC_EDIT_OUTPUT2,68,217,200,100,ES_AUTOHSCROLL
 LTEXT "Client 1: ",IDC_LTEXT_CLIENT1,7,7,55,15
 LTEXT "Client 2: ",IDC_LTEXT_CLIENT2,7,112,55,15
 LTEXT "Client 3: ",IDC_LTEXT_CLIENT3,7,217,55,15
END

