#include <windows.h>
#include "client2_lib.h"
IDD_HOSTTEST DIALOG DISCARDABLE 0, 0, 300, 400
STYLE DS_MODALFRAME | WS_POPUP | WS_CAPTION |
WS_SYSMENU
CAPTION "Client2"
FONT 8, "MS Sans Serif"
BEGIN
 PUSHBUTTON "Cancel",IDCANCEL,55,380,50,15
 PUSHBUTTON "Send",IDC_BTN1,7,380,43,15
 PUSHBUTTON "Update",IDC_BTN2,215,7,50,15
 EDITTEXT IDC_EDIT_INPUT,7,357,200,18,ES_AUTOHSCROLL
 EDITTEXT IDC_EDIT_OUTPUT1,7,7,200,50,ES_AUTOHSCROLL
 EDITTEXT IDC_EDIT_OUTPUT2,7,62,200,50,ES_AUTOHSCROLL
 EDITTEXT IDC_EDIT_OUTPUT3,7,117,200,50,ES_AUTOHSCROLL
 EDITTEXT IDC_EDIT_OUTPUT4,7,172,200,50,ES_AUTOHSCROLL
 EDITTEXT IDC_EDIT_OUTPUT5,7,227,200,50,ES_AUTOHSCROLL
 EDITTEXT IDC_EDIT_OUTPUT6,7,282,200,50,ES_AUTOHSCROLL
END

